
body {
    text-align: center;
    background-color: #3c3c3c;  
    padding: 0;
    margin: 0;
}

.Banner {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    padding: 0;
    text-align: left;
    background-color: #d54e45;
}

.Banner div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Banner img {
    max-height: 10vh;
    padding: 0;
    margin: 0;
}

#photo {
    width: 40vw;
    height: auto;

}